<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Records</title>
</head>
<body>
    <h1>Medical Records</h1>
    <table id="medical-table">
        <!-- Table headers -->
        <thead>
            <tr>
                <th>Date of Visit</th>
                <th>Medical Condition</th>
                <th>Medication Prescribed</th>
            </tr>
        </thead>
        <!-- Table body -->
        <tbody>
            {% for record in medical_data.values %}
                <tr>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Optionally, you can use JavaScript to further manipulate or enhance the UI
    </script>
</body>
</html>
